/* CoverImage component styles */

.cover-image-placeholder {
  background: #1e293b;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
}

.cover-image-icon {
  color: #6c757d;
}

.cover-image {
  border-radius: 0.375rem;
  object-fit: cover;
}
